name: Java CI with Maven and SSL

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    # Декодируем JKS из секрета GitHub обратно в файл для успешной сборки
    - name: Decode Keystore
      run: |
        mkdir -p src/main/resources
        echo "${{ secrets.SSL_KEYSTORE }}" | base64 --decode > src/main/resources/final_server.jks

    - name: Build with Maven
      run: mvn -B package --file pom.xml
      env:
        SERVER_SSL_KEY_STORE_PASSWORD: ${{ secrets.SSL_PASSWORD }}

    # Загрузка артефакта (выполнение пункта про хранилище артефактов)
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: warehouse-manager-app
        path: target/*.jar
